@{
    Page.Title = "Advertisments";
    //Layout = "Your Layout Page goes here";


    var db = Database.Open("StarterSite");
    var sql = "SELECT * FROM tblAds";
    var ads = db.Query(sql);
    
    
}

<h1>Advertisements</h1>

<table class="grid">
    <tr>
        <th colspan="3" class="gridHeader">Title</th>
    </tr>
    @foreach (var ad in ads)
    {
        <tr>
            <td id="mainColumn">
                @ad.adsTitle
            </td>
            <td>
                <a href="AddAd/@ad.adsID">Edit</a>
            </td>
            <td>
                <a href="DeleteAd/@ad.adsID">Delete</a>
            </td>
        </tr>
    }
</table>

<h4><a href="~/Admin/ManageAds/AddAd">Add Advertisement</a></h4>