

<div id="accordion">
    <h3><a href="#">My Posts</a></h3>
    <div>
        <ul>
                <li><a href="@Href("~/Member/MyPost/Default")">Active Posts</a></li> 
                <li><a href="@Href("~/Member/MyPost/Pending")" >Pending Posts</a></li>
                <li><a href="@Href("~/Member/MyPost/Declined")" >Declined Posts</a></li>
                <li><a href="@Href("~/Member/MyPost/Archived")" >Archived Posts</a></li>
        </ul>
    </div>
</div>