@{
    var db = Database.Open("StarterSite");
    var sqlSelect = "SELECT * FROM tblCategories ORDER BY catName";
      
}

<div id="accordion">
    <h3><a href="#">All Categories</a></h3>
    <div>  
        <ul>
            
            @foreach (var category in db.Query(sqlSelect))
            {
                <li>
                    <a href="/Products/@category.catName">@category.catName</a>
                </li>           
            }
        </ul>
    </div>
</div>
