@{
    Page.Title = "Account Locked";
    //Layout = "Your Layout Page goes here";
}

<h1>Account Locked</h1>

<p>Your account was locked out due to too many invalid log in attempts.</p>

<p>
    Don't worry, the account will automatically be unlocked in 60 seconds. 
    Please try again after that time has passed.
</p>