@{
    Page.Title = "Forgot Password";
    //Layout = "Your Layout Page goes here";

    var email = "";
    var userName = "";
    var message = "";
    

    Validation.Add("email", Validator.Required("Email is a required field"));

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            email = Request["email"];
            var db = Database.Open("StarterSite");
            var sqlSelect = "SELECT userName FROM UserProfile WHERE email= @0";

            try
            {
                var row = db.QuerySingle(sqlSelect, email);
                userName = row.userName;
            }
            catch (Exception e)
            {
                ModelState.AddFormError(e.Message);
            }





            if (WebSecurity.UserExists(userName))
            {
                //generate confirmation link URL
                var resetToken = WebSecurity.GeneratePasswordResetToken(userName, 1440);
                var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer,
                                        UriFormat.Unescaped);

                var passwordResetUrl = hostUrl +
                                        "/Account/PasswordReset?resetToken=" +
                                        HttpUtility.UrlEncode(resetToken);

                //send email
                WebMail.Send(to: email,
                    subject: "University Shoppe Password Reset for " + email,
                    body: "Please visit <a href='" + passwordResetUrl + "'>" +
                                                    passwordResetUrl +
                            "</a> to reset your account password."
                );

                
            }
            else { message = "Unable to find matching account"; }

        }
    }
}

<h1>Forgot Password  </h1>

@if (!message.IsEmpty())
{
    <p>@message</p>
}
else
{
    <form action="ForgotPassword" method="post" class="loginForm">
        <p>Please enter your registered email address to be sent a password reset link.</p>

        <p>
            @Html.Label("Email Address: ", "email")
            <br />
            @Html.TextBox("email", email)
            @Html.ValidationMessage("email")
        </p>

        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </form>
}