@{
    Page.Title = "Categories";
    //Layout = "Your Layout Page goes here";
    var catName = "";
    var db = Database.Open("StarterSite");
    var sqlSelect = "SELECT * FROM tblCategories";
    var categories = db.Query(sqlSelect);
}

<h1>Categories</h1>

<table class="grid">
    <tr>
        <th colspan="3" class="gridHeader">Category Name</th>
    </tr>
    @foreach (var category in categories)
    {
        <tr>
            <td id="mainColumn">
                @category.catName
            </td>
            <td>
                <a href="EditCategory/@category.catID">Edit</a>
            </td>
            <td>
                <a href="DeleteCategory/@category.catID">Delete</a>
            </td>
        </tr>
    }
</table>

<h2>Add New Category</h2>
<form action="" method="post">
    <p>
        Category Name:
        @Html.TextBox("catName", catName)
        <input type="submit" value="Add" />
        @Html.ValidationMessage("catName")
    </p>
</form>